services:
  #Django app
  backend:
    container_name: django
    build: .
    command: uvicorn core.asgi:application --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - django_redis
      - django_db

  #Redis
  django_redis:
    image: redis
    container_name: django_redis
    ports:
      - 6379:6379

  #Database
  django_db:
    image: postgres:17-alpine
    container_name: postgresql
    restart: always
    environment:
      POSTGRES_DB: django_db
      POSTGRES_USER: django
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - .dbdata:/var/lib/postgresql/data
  
  #Celery
  celery_worker:
    container_name: blog_celery_worker
    build: .
    command: celery -A core worker --loglevel=info
    volumes:
      - .:/app
    ports:
      - "8001:8001"
    depends_on:
      - django_redis
      - django_db