Django==5.2.8
djangorestframework==3.16.1
djangorestframework-api-response==0.1.0
django-redis==6.0.0
django-environ==0.11.0
django-ckeditor-5==0.2.18

pillow==12.0.0

uvicorn==0.38.0

channels==4.1.0
channels-redis==4.2.0

whitenoise==6.11.0
django-stubs==5.2.7

psycopg2==2.9.10

celery==5.6.0
django-celery-results==2.6.0
django-celery-beat==2.8.1